/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/03/2015, 17:59:23
    Author     : Stefano
*/
a, input[type=button]{
    display:none;
}
fieldset{
    border: none;
}
#menu, #login, #menu-lateral, #rodape, #buscaInicial{
    display: none;
}
#topo{
    display: true
}
#topo {
    height: 2cm;
}
#topoLeft
{
	height: 2cm;
	width: 3cm;
	float: left;
}
#topoRight
{
	height: 2cm;
	width: 2.2cm;
	float: right;
        margin-right: 2cm;
}

.busca, .td-botao{
    display: none;
}
table tr, td{
    color: #000;
    border: 1px #CCC solid;
}
th{
    background-color: #5F302B;
    border: 1px #CCC solid;
}
table{
    width: 100%
}

.img-porto{
    width: 300px;
    height: 200px;
}

#legendaBoxplot{
    float:left;
    margin-left: 472px;
    font-size: 1.25em;
}

#canvasLegendaBox {
    border: 1px solid #000;
    height: 10px;
    width: 10px;
    background-color: #5F302B;
}